<?xml version="1.0" encoding="utf-8"?>
<SystemProperties>
  <SystemName>IRB_6640_185kg_2.80m</SystemName>
  <SerialNo>VIRTUAL_USE</SerialNo>
  <UsedMedia>
    <Media path="C:\Users\festo\AppData\Local\ABB Industrial IT\Robotics IT\RobotWare\RobotWare_6.08.1040" name="RobotWare" version="6.08.1040">
    </Media>
  </UsedMedia>
  <ControlModule>
    <Option descr="RobotWare Base">
    </Option>
    <Option descr="English">
    </Option>
  </ControlModule>
  <DriveModule>
    <Name>Robot1</Name>
    <Option descr="Drive System IRB 460/640/660/760/4600/66xx/6700">
    </Option>
    <Option descr="ADU-790A in position X3">
    </Option>
    <Option descr="ADU-790A in position Y3">
    </Option>
    <Option descr="ADU-790A in position Z3">
    </Option>
    <Option descr="IRB 6640-185/2.8">
    </Option>
  </DriveModule>
</SystemProperties>